@import '../../../styles/core/variables.scss';
@import '../../../styles/core/typography.scss';
@import '../../../styles/utils/mixins.scss';
@import '../../../styles/utils/breakpoints.scss';

.biologyBased {
  width: 100%;
  height: auto;
  @include flexed(unset, center, column);

  & .firstSection {
    width: 100%;
    background-color: $lightGrass;
    @include grid();
    padding: 5.6rem 0;
    overflow: hidden;

    @include media('<=tablet') {
      padding: 5rem 0 0;
    }

    & .sectWrap1 {
      width: 100%;
      @include flexed(unset, center, column);
      max-width: $layout-breakpoint-medium;
      row-gap: 3.75rem;
      position: relative;

      @include media('<=tablet') {
        max-width: 100%;
        row-gap: 0rem;
      }

      & .heading {
        width: 100%;
        @include grid();

        @include media('<=tablet') {
          margin-bottom: 2rem;
        }

        & h2 {
          color: $darkGreen;
          font-family: var(--font-made-mirage);
          font-size: 3.75rem;
          font-style: normal;
          font-weight: 900;
          line-height: 130%;

          @include media('<=tablet') {
            font-size: 2.5rem;
            text-align: center;
          }
        }
      }

      & .left {
        width: 100%;
        @include flexed(unset, flex-start, column);
        row-gap: 1.88rem;

        @include media('<=tablet') {
          row-gap: 2rem;
        }

        & .row {
          width: 100%;
          max-width: 45rem;
          display: grid;
          grid-template-columns: 7.5rem 1fr;
          column-gap: 1.5rem;
          padding: 0.94rem 1.78rem;
          background-color: $white;
          border-radius: 1.125rem;

          @include media('<=tablet') {
            max-width: 100%;
            grid-template-columns: 1fr;
            row-gap: 1.5rem;
            padding: 2rem;
          }

          & .icon {
            width: 7.5rem;
            height: 7.5rem;
            background-color: $white;
            border-radius: 100%;
            @include grid();

            @include media('<=tablet') {
              width: 5rem;
              height: 5rem;

              & img {
                max-height: 50%;
              }
            }
          }

          & .texts {
            width: 100%;
            @include flexed(center, flex-start, column);
            gap: 0.3rem;

            @include media('<=tablet') {
              gap: 0.5rem;
            }

            & h5 {
              color: $darkGrey;
              font-family: var(--font-made-mirage);
              font-size: 1.3rem;
              font-weight: 700;
              line-height: 150%;

              @include media('<=tablet') {
                font-size: 1.5rem;
              }
            }

            & p {
              color: $darkGrey;
              font-family: var(--font-gilroy);
              font-size: 0.94rem;
              font-weight: 500;
              line-height: 150%;

              @include media('<=tablet') {
                font-size: 1rem;
              }
            }
          }

          &:nth-of-type(1) {
            & .icon {
              background-color: $secondaryLightBlue;
            }
          }

          &:nth-of-type(2) {
            & .icon {
              background-color: $lightPurple;
            }
          }

          &:nth-of-type(3) {
            & .icon {
              background-color: $lightBrown;
            }
          }
        }
      }

      & .woman {
        position: absolute;
        bottom: calc(-5.6rem - 8.9rem);
        right: -5.6rem;

        @include media('<desktop') {
          bottom: calc(-8.9rem - 30%);
          right: -10rem;
        }

        @include media('<1250px') {
          bottom: calc(-8.9rem - 40%);
          right: -10rem;
        }

        @include media('<=tablet') {
          position: relative;
          margin-bottom: -5rem;
          max-width: 25rem;
          max-height: 37.5rem;
        }

        @include media('<=phone') {
          max-width: 100%;
          right: unset;
          bottom: unset;
        }

        @include media('<=375px') {
          right: -5rem;
        }

        &_us {
          position: absolute;
          bottom: -6.5rem;
          right: -5.6rem;

          @include media('<desktop') {
            bottom: calc(-8.9rem - 25%);
            right: -10rem;
          }

          @include media('<1250px') {
            bottom: calc(-8.9rem - 30%);
            right: -10rem;
          }

          @include media('<=tablet') {
            position: relative;
            max-width: 25rem;
            max-height: 30rem;
          }

          @include media('<=phone') {
            max-width: 100%;
            right: unset;
          }

          @include media('<=375px') {
            max-width: 25rem;
          }
        }
      }

      & .flower {
        position: absolute;
        right: calc(-5.6rem - 3.5rem);
        bottom: 45%;

        @include media('<desktop') {
          right: calc(-5.6rem - 4.5rem);
        }

        @include media('<1250px') {
          right: calc(-5.6rem - 6.5rem);
        }

        @include media('<=tablet') {
          bottom: 19rem;
          right: -12%;
          max-width: 22%;
          max-height: 22%;
        }

        @include media('<=phone') {
          right: -3rem;
          bottom: 19rem;
        }

        @include media('<=375px') {
          right: -4.5rem;
        }
      }

      & .crown {
        position: absolute;
        top: calc(11.6rem - 5.6rem);
        right: calc(16.2rem - 5.6rem);

        @include media('<desktop') {
          top: calc(13rem - 5.6rem);
          right: calc(13rem - 5.6rem);
        }

        @include media('<1250px') {
          top: calc(10rem - 5.6rem);
          right: calc(16rem - 5.6rem);
        }

        @include media('<=tablet') {
          top: unset;
          bottom: 24rem;
          display: none;
        }

        @include media('<=phone') {
          max-width: 4rem;
          max-height: 4rem;
          right: unset;
        }

        @include media('<=375px') {
          right: calc(16rem - 5.6rem);
        }
      }
    }
  }

  & .secondSection {
    width: 100%;
    background-color: $secondaryLightBlue;
    @include grid();
    padding: 5.6rem 0;

    @include media('<=tablet') {
      padding: 5rem 0;
    }

    & .sectWrap2 {
      width: 100%;
      display: grid;
      max-width: $layout-breakpoint-medium;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1.88rem;

      @include media('<=tablet') {
        max-width: 100%;
        grid-template-columns: 1fr;
        row-gap: 2rem;
      }

      & .col {
        height: 32rem;
        width: 100%;
        border-radius: 1.5rem;
        background-color: $white;
        position: relative;

        @include media('<=tablet') {
          height: unset;
          border-radius: 2rem;
        }

        &:nth-child(1) {
          @include media('<=tablet') {
            height: 20rem;
          }

          & .whiskers {
            position: absolute;
            left: -15%;
            top: -18%;

            @include media('<=tablet') {
              max-width: 9.75rem;
              max-height: 9.75rem;
              left: -4.5rem;
              top: -4.8rem;
            }
          }

          & .fullImg {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: inherit;
          }
        }

        &:nth-child(2) {
          padding: 3rem;
          @include flexed(unset, flex-start, column);
          gap: 1.5rem;

          @include media('<=tablet') {
            padding: 1.5rem;
            gap: 1rem;
          }

          @include media('<=375px') {
            & img {
              max-height: 5.6rem;
              max-width: 5.6rem;
            }
          }

          & h4 {
            color: $darkGreen;
            font-family: var(--font-made-mirage);
            font-size: 2.25rem;
            font-weight: 700;
            line-height: normal;

            @include media('<=tablet') {
              font-size: 2rem;
            }
          }

          & p {
            color: $darkGrey;
            font-family: var(--font-gilroy);
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;

            @include media('<=tablet') {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
