// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-xsmall: 480px;
$layout-section-medium: 1140px;

// Colors:
$white: #ffffff;
$black: #121212;

$yellow: #e6fe55;

$cream: #f3f4dc;

$green: #f3f4dc;
$lightGreen: #36b887;
$darkGreen: #043d3b;

$darkGrey: #353535;
$midGrey: #989898;

$blue: #d3f3ff;
$lightBlue: #f5ffff;
$darkBlue: #3e9fa5;
$secondaryLightBlue: #d3f3ff;

$mud: #8f4949;
$lightMud: #ffe4e4;

$purple: #5f4086;
$lightPurple: #eee0ff;

$grass: #7ca851;
$lightGrass: #f1f7e0;

$brown: #9b7e62;
$lightBrown: #ffecdb;

$mocha: #dec89f;
