@import '../../../styles/core/variables.scss';
@import '../../../styles/core/typography.scss';
@import '../../../styles/utils/mixins.scss';
@import '../../../styles/utils/breakpoints.scss';

.expertTeam {
  width: 100%;
  padding: 5.62rem 0 5.62rem;
  @include grid();
  position: relative;
  overflow: hidden;

  @include media('<=tablet') {
    padding: 5rem 0 5rem;
  }

  & .wrap {
    width: 100%;
    max-width: $layout-breakpoint-medium;
    position: relative;
    @include flexed(unset, center, column);
    row-gap: 3rem;

    @include media('<=tablet') {
      max-width: 100%;
      row-gap: 2rem;
    }

    & h2 {
      color: $darkGreen;
      font-family: var(--font-made-mirage);
      font-size: 3.75rem;
      font-weight: 900;
      line-height: 130%;
      position: relative;
      text-align: center;

      @include media('<=tablet') {
        font-size: 2.5rem;
      }

      & span {
        color: $lightGreen;
      }
    }

    & .teamContainer {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 3.8rem;

      @include media('<=tablet') {
        grid-template-columns: 1fr;
        row-gap: 2rem;
      }

      & .teamList {
        width: 100%;
        height: max-content;
        @include flexed(unset, flex-start, column);
        gap: 1.125rem;

        @include media('<=tablet') {
          max-width: 100%;
          gap: 1.5rem;
          @include flexed(unset, flex-start, row);
          overflow: scroll;
        }

        &::-webkit-scrollbar {
          display: none;
        }

        & .memberTabBtn {
          width: 100%;
          @include flexed(flex-start, center, row);
          padding: 1.83em 1.88rem;
          gap: 1.13rem;
          border-radius: 1.5rem;
          background-color: #f5f5f5;
          cursor: pointer;
          color: $darkGreen;
          -webkit-tap-highlight-color: transparent;

          @include media('<=tablet') {
            padding: 1.5rem;
            gap: 1rem;
            border-radius: 1rem;

            & svg {
              width: 1.5rem;
              height: 1.5rem;
            }
          }

          & .bio {
            @include flexed(flex-start, center, row);
            column-gap: 0.56rem;
            color: currentColor;

            & h3 {
              color: currentColor;
              font-family: var(--font-made-mirage);
              font-size: 1.5rem;
              font-style: normal;
              font-weight: 700;

              @include media('<=tablet') {
                white-space: nowrap;
                font-size: 1.25rem;
              }
            }

            & p {
              color: currentColor;
              font-family: var(--font-gilroy);
              font-size: 1.125rem;
              font-weight: 700;
              line-height: normal;
              opacity: 0.8;
              letter-spacing: 0.0675rem;
              text-transform: uppercase;

              @include media('<=tablet') {
                display: none;
              }
            }
          }

          &.active {
            background-color: $darkGreen;
            color: $white;
          }
        }
      }

      & .teamBio {
        width: 100%;
        height: max-content;
        padding: 1.875rem;
        gap: 1.13rem;
        border-radius: 3rem;
        background: $purple;
        @include flexed(unset, flex-start, column);
        transition: all 0.3s ease-in-out;

        @include media('<=tablet') {
          max-width: 100%;
          gap: 1rem;
          border-radius: 2rem;
          padding: 2.5rem 1.5rem;
          order: -1;
        }

        & .top {
          width: 100%;
          @include flexed(flex-start, center, row);
          gap: 1.88rem;

          @include media('<=tablet') {
            gap: 1rem;
          }

          & img {
            max-width: 7rem;
            max-height: 7rem;

            @include media('<=tablet') {
              max-width: 5rem;
              max-height: 5rem;
            }
          }

          & .name {
            @include flexed(unset, flex-start, column);
            row-gap: 1.5rem;

            @include media('<=tablet') {
              row-gap: 1rem;
            }

            & h3 {
              color: $white;
              font-family: var(--font-made-mirage);
              font-size: 2.25rem;
              font-weight: 700;

              @include media('<=tablet') {
                font-size: 1.5rem;
                white-space: nowrap;
              }
              //   line-height: normal;
            }

            & p {
              color: $white;
              font-family: var(--font-gilroy);
              font-size: 1.3125rem;
              font-weight: 700;
              //   line-height: normal;
              letter-spacing: 0.07875rem;
              text-transform: uppercase;
              opacity: 0.8;

              @include media('<=tablet') {
                font-size: 1rem;
              }
            }
          }
        }

        & .middle {
          width: 100%;
          border-radius: 2.63rem;
          padding: 1.5rem;

          @include media('<=tablet') {
            padding: 1rem;
            border-radius: 1.75rem;
          }

          & p {
            color: $white;
            font-family: var(--font-gilroy);
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;

            @include media('<=tablet') {
              font-size: 1rem;
            }
          }
        }

        & .bottom {
          width: 100%;
          display: grid;
          place-items: center;

          & a {
            @include flexed(center, center, row);
            border-radius: 1.125rem;
            gap: 0.38rem;
            padding: 0 0.75rem;
            height: 2.1rem;
            //
            font-family: var(--font-gilroy);
            font-size: 0.9375rem;
            font-weight: 600;
            letter-spacing: 0.05625rem;
            text-transform: uppercase;

            & span {
              padding-top: 0.3rem;
            }

            @include media('<=tablet') {
              font-size: 1rem;
              height: 2.75rem;
              padding: 0 1rem;
              border-radius: 1.5rem;
              gap: 0.5rem;
              width: 100%;
            }
          }
        }
      }

      //   Team memeber colors
      & .member1 {
        fill: $purple;
        background-color: $purple;

        & .middle {
          background-color: #6c4998;
        }

        & .bottom {
          & a {
            background: $lightPurple;
            color: $purple;
          }
        }
      }

      & .member2 {
        fill: $grass;
        background-color: $grass;

        & .middle {
          background-color: #89b361;
        }

        & .bottom {
          & a {
            background: $lightGrass;
            color: $grass;
          }
        }
      }

      & .member3 {
        fill: $darkBlue;
        background-color: $darkBlue;

        & .middle {
          background-color: #46b3b9;
        }

        & .bottom {
          & a {
            background: $blue;
            color: $darkBlue;
          }
        }
      }

      & .member4 {
        fill: $mud;
        background-color: $mud;

        & .middle {
          background-color: #9f5151;
        }

        & .bottom {
          & a {
            background: $lightMud;
            color: $mud;
          }
        }
      }

      & .member5 {
        fill: $grass;
        background-color: $grass;

        & .middle {
          background-color: #89b361;
        }

        & .bottom {
          & a {
            background: $lightGrass;
            color: $grass;
          }
        }
      }

      & .member6 {
        fill: $purple;
        background-color: $purple;

        & .middle {
          background-color: #6c4998;
        }

        & .bottom {
          & a {
            background: $lightPurple;
            color: $purple;
          }
        }
      }
    }
  }
}
