@import '../../../styles/core/variables.scss';
@import '../../../styles/core/typography.scss';
@import '../../../styles/utils/mixins.scss';
@import '../../../styles/utils/breakpoints.scss';

.whyQilo {
  width: 100%;
  height: auto;
  padding: 5.625rem 0;
  @include grid();
  overflow: hidden;
  background-color: $blue;

  @include media('<=tablet') {
    padding: 5rem 0 15rem;
  }

  & .wrap {
    @include flexed(unset, center, column);
    width: 100%;
    max-width: $layout-breakpoint-medium;
    row-gap: 3.75rem;
    position: relative;

    @include media('<=tablet') {
      max-width: 100%;
      row-gap: 3rem;
    }

    & .decor {
      bottom: calc(-5.6rem - 5.1rem);
      right: calc(-5.6rem - 3.3rem);
      position: absolute;

      @include media('<=tablet') {
        bottom: calc(-15rem - 11rem);
        right: unset;
        width: 19rem;
        height: 22rem;
      }
    }

    & .heading {
      width: 100%;
      @include grid();

      & h2 {
        color: $darkGreen;
        font-family: var(--font-made-mirage);
        font-size: 3.75rem;
        font-weight: 900;
        line-height: 130%;
        position: relative;

        @include media('<=tablet') {
          font-size: 2.5rem;
          text-align: center;
        }

        & svg {
          position: absolute;
          top: -1.5rem;

          @include media('<=tablet') {
            width: 1.97rem;
            height: 1.97rem;
            top: -1.5rem;
          }

          @include media('<=phone') {
            top: 3rem;
          }
        }
      }
    }

    & .grid {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 3.75rem;
      row-gap: 2.25rem;

      @include media('<=tablet') {
        grid-template-columns: 1fr;
        gap: 2rem;
      }

      & .col {
        width: 100%;
        padding-bottom: 0.75rem;
        border-bottom: 0.75px solid rgba(4, 61, 59, 0.2);
        display: grid;
        grid-template-columns: 7.5rem 1fr;
        column-gap: 2.25rem;
        position: relative;

        @include media('<=tablet') {
          grid-template-columns: 1fr;
          row-gap: 2rem;
          border-bottom: none;
          padding-bottom: 0;

          &:not(:last-child) {
            padding-bottom: 1rem;
            border-bottom: 0.75px solid rgba(4, 61, 59, 0.2);
          }
        }

        & .icon {
          width: 7.5rem;
          height: 7.5rem;
          background-color: $white;
          border-radius: 100%;
          @include grid();

          @include media('<=tablet') {
            width: 5rem;
            height: 5rem;

            & img {
              transform: scale(0.6);
              position: absolute;
            }
          }

          @include media('<=phone') {
            & img {
              transform: scale(0.7);
            }
          }

          @include media('<=375px') {
            & img {
              transform: scale(0.35);
            }
          }
        }

        & .texts {
          width: 100%;
          @include flexed(center, flex-start, column);

          & p {
            color: $darkGrey;
            font-family: var(--font-made-mirage);
            font-size: 1.125rem;
            font-weight: 700;
            line-height: 150%;

            @include media('<=tablet') {
              font-size: 1.25rem;
              max-width: 95%;
            }
          }
        }
      }
    }
  }
}
