@import '../../../styles/core/variables.scss';
@import '../../../styles/core/typography.scss';
@import '../../../styles/utils/mixins.scss';
@import '../../../styles/utils/breakpoints.scss';

.fourGrid {
  width: 100%;
  padding: 5.62rem;
  @include grid();
  border-radius: 5.62338rem;
  background: $green;

  @include media('<=tablet') {
    padding: 5rem 0;
    border-radius: 4rem;
  }

  & .wrap {
    width: 100%;
    height: auto;
    max-width: $layout-breakpoint-medium;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.9rem;

    @include media('<=tablet') {
      grid-template-columns: 1fr;
      row-gap: 2rem;
      max-width: 90%;
    }

    & .col {
      width: 100%;
      height: 29rem;
      border-radius: 1.5rem;
      background: #fff;

      &:nth-child(2) {
        position: relative;

        & img {
          &:nth-child(1) {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
            border-radius: 1.5rem;
          }

          &:nth-child(2) {
            position: absolute;
            z-index: 1;
            left: 0.94rem;
            top: -2.8rem;

            @include media('<=tablet') {
              max-width: 4.5rem;
              max-height: 5rem;
              left: 5rem;
              top: -1.2rem;
            }
          }
        }

        @include media('<=tablet') {
          max-height: 20rem;
        }
      }

      &:nth-child(3) {
        position: relative;

        & img {
          &:nth-child(1) {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 1.5rem;
          }

          &:nth-child(2) {
            position: absolute;
            z-index: 1;
            left: -3.7rem;
            bottom: -3.4rem;

            @include media('<=tablet') {
              max-width: 8.5rem;
              max-height: 8.5rem;
              left: -1.4rem;
              bottom: -2.2rem;
            }
          }
        }

        @include media('<=tablet') {
          order: 1;
          max-height: 20rem;
        }
      }

      &:nth-child(1),
      &:nth-child(4) {
        @include flexed(unset, flex-start, column);
        padding: 1.9rem 3rem;
        gap: 1.5rem;

        @include media('<=tablet') {
          height: auto;
          padding: 1.5rem;
          gap: 1rem;
        }

        & .icon {
          width: 7.5rem;
          height: 7.5rem;
          @include grid();
          border-radius: 100%;

          & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }

        & h4 {
          color: $darkGreen;
          font-family: var(--font-made-mirage);
          font-size: 2rem;
          font-weight: 700;
          line-height: normal;

          & span {
            color: $lightGreen;
            position: relative;

            & svg {
              position: absolute;
            }
          }
        }

        & p {
          color: $darkGrey;
          font-size: 1rem;
          font-weight: 400;
          line-height: 150%;
          max-width: 31.4rem;
        }
      }

      &:nth-child(1) {
        & .icon {
          background-color: $lightMud;
        }

        & h4 span {
          & svg {
            top: -0.6rem;
            left: -0.2rem;
            width: 120%;
          }
        }
      }

      &:nth-child(4) {
        & .icon {
          background-color: $blue;
        }

        & h4 span {
          & svg {
            bottom: 0;
            left: 0;
            width: 103%;
          }
        }
      }
    }
  }
}
