@import '../../../styles/core/variables.scss';
@import '../../../styles/core/typography.scss';
@import '../../../styles/utils/mixins.scss';
@import '../../../styles/utils/breakpoints.scss';

.help {
  width: 100%;
  @include grid();
  padding: 5.6rem 0;
  overflow: hidden;
  position: relative;
  background-color: $cream;

  @include media('<=tablet') {
    padding: 5rem 0;
  }

  & .wrap {
    width: 100%;
    height: auto;
    max-width: $layout-breakpoint-medium;
    @include flexed(space-between, flex-start, row);
    position: relative;
    column-gap: 5.6rem;

    @include media('<=tablet') {
      @include flexed(unset, flex-start, column);
      row-gap: 2rem;
      padding-bottom: 20rem;
    }

    & .imgWrap {
      position: absolute;
      width: 100%;
      max-width: 27.9rem;
      left: calc(-5.6rem - 4.5rem);
      bottom: calc(-5.6rem - 3.5rem);

      & .female {
        height: 100%;
        width: 100%;
      }

      & .heart {
        position: absolute;
        right: 0;
        z-index: 1;
      }

      @include media('<=tablet') {
        left: calc(-5rem);
      }
    }

    & .left {
      width: 100%;
      max-width: 27rem;
      @include flexed(unset, flex-start, column);

      & h2 {
        color: $darkGreen;
        font-family: var(--font-made-mirage);
        font-size: 3.7rem;
        font-weight: 900;
        line-height: 130%;
        margin-bottom: 1.5rem;

        @include media('<=tablet') {
          font-size: 2.5rem;
          margin-bottom: 1.25rem;
        }
      }

      & p {
        color: $darkGreen;
        font-family: var(--font-gilroy);
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 150%;
        margin-bottom: 2.25rem;

        @include media('<=tablet') {
          font-size: 1.125rem;
          margin-bottom: 2rem;
        }
      }
    }

    & .right {
      width: 100%;
      max-width: 46rem;
      @include flexed(unset, flex-start, column);
      gap: 1.87rem;

      @include media('<=tablet') {
        max-width: 100%;
      }

      & .row {
        width: 100%;
        height: 9.4rem;
        border-radius: 1.12469rem;
        background: #fff;
        padding: 0.9rem 1.8rem;
        @include flexed(flex-start, center, row);
        column-gap: 1.5rem;

        @include media('<=tablet') {
          height: fit-content;
          padding: 2rem;
          row-gap: 1.5rem;
          @include flexed(unset, flex-start, column);
        }

        & .icon {
          width: 7.5rem;
          height: 7.5rem;
          border-radius: 100%;
          @include grid();

          & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        & .copies {
          width: 100%;
          max-width: 33.4rem;
          @include flexed(unset, flex-start, column);
          row-gap: 0.37rem;

          & h4 {
            color: $darkGreen;
            font-family: var(--font-made-mirage);
            font-size: 1.5rem;
            font-weight: 700;
            line-height: normal;
          }

          & p {
            color: $darkGrey;
            font-size: 0.9rem;
            font-weight: 400;
            line-height: 150%;
            opacity: 0.8;

            @include media('<=tablet') {
              font-size: 1rem;
            }
          }
        }

        &:nth-of-type(1) .icon {
          background: $lightMud;
        }

        &:nth-of-type(2) .icon {
          background: $lightPurple;
        }

        &:nth-of-type(3) .icon {
          background: $lightBrown;
        }

        &:nth-of-type(4) .icon {
          background: $secondaryLightBlue;
        }
      }
    }
  }
}
