@import '../../../styles/core/variables.scss';
@import '../../../styles/core/typography.scss';
@import '../../../styles/utils/mixins.scss';
@import '../../../styles/utils/breakpoints.scss';

.header {
  width: 100%;
  @include grid();
  padding: 7rem 0 5.6rem;

  @include media('<=tablet') {
    padding: 5rem 0 5rem;
  }

  & .wrap {
    width: 100%;
    max-width: $layout-breakpoint-medium;
    height: auto;
    @include flexed(unset, center, column);
    gap: 5.6rem;

    @include media('<=tablet') {
      gap: 3rem;
      max-width: 100%;
    }

    & .heading {
      margin-top: 5.6rem;
      width: 100%;
      max-width: 56.25rem;

      @include flexed(unset, center, column);

      @include media('<=tablet') {
        margin-top: 5rem;
      }

      & h1 {
        color: $darkGreen;
        text-align: center;
        font-family: var(--font-made-mirage);
        font-size: 3.75rem;
        font-style: normal;
        font-weight: 900;
        line-height: 130%;

        @include media('<=tablet') {
          font-size: 3rem;
          max-width: 95%;
        }

        & span {
          position: relative;
          color: $lightGreen;

          & svg {
            position: absolute;
            width: 100%;
            left: 0%;
            bottom: 5%;

            @include media('<=tablet') {
              bottom: 10%;
            }
          }
        }
      }

      & p {
        color: $darkGreen;
        text-align: center;
        font-family: var(--font-gilroy);
        font-size: 1.3125rem;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        margin-top: 1.5rem;
        max-width: 75%;
        opacity: 0.7;

        @include media('<=tablet') {
          max-width: 100%;
          font-size: 1rem;
          margin-top: 1.25rem;
        }
      }
    }

    & .twoCols {
      width: 100%;
      gap: 1.88rem;
      @include flexed(unset, center, column);

      @include media('<=tablet') {
        gap: 2.5rem;
      }

      & .col {
        height: 30rem;
        width: 100%;
        border-radius: 3rem;
        @include flexed(flex-start, center, row);
        position: relative;
        overflow: hidden;

        @include media('<=tablet') {
          height: auto;
          min-height: 50rem;
          @include flexed(unset, flex-start, column);
        }

        &Wrap {
          width: 100%;
          height: 100%;
          @include flexed(flex-start, center, row);
          padding: 3.75rem;

          @include media('<=tablet') {
            padding: 2.5rem 1.5rem;
          }

          &.left {
            @include flexed(flex-start, center, row);
          }

          &.right {
            @include flexed(flex-end, center, row);
          }

          & .content {
            width: 100%;
            max-width: 50%;
            @include flexed(unset, flex-start, column);
            gap: 1.5rem;

            @include media('<=tablet') {
              max-width: 100%;
              height: auto;
            }

            & h4 {
              color: $white;
              font-family: var(--font-made-mirage);
              font-size: 2.25rem;
              font-weight: 700;
              line-height: normal;

              @include media('<=tablet') {
                font-size: 3rem;
              }

              & span {
                position: relative;
                color: $purple;

                & svg {
                  position: absolute;
                  left: -10%;
                  top: -25%;
                  width: 120%;
                }
              }
            }

            & p {
              color: $white;
              font-family: var(--font-gilroy);
              font-size: 1.125rem;
              font-style: normal;
              font-weight: 500;
              line-height: 150%;

              @include media('<=tablet') {
                font-size: 1rem;
              }
            }

            & ul {
              width: 100%;
              @include flexed(unset, flex-start, column);
              gap: 1.5rem;

              & li {
                width: 100%;
                column-gap: 1.12rem;
                color: $white;
                @include flexed(flex-start, center, row);

                @include media('<=tablet') {
                  column-gap: 1rem;

                  & svg {
                    width: 1.75rem;
                    height: 1.75rem;
                  }
                }

                & span {
                  font-family: var(--font-gilroy);
                  font-size: 1.5rem;
                  font-weight: 500;
                  line-height: 150%;
                  max-width: 85%;

                  @include media('<=tablet') {
                    font-size: 1.25rem;
                  }
                }
              }
            }
          }
        }

        & .imgWrap {
          width: 50%;
          height: 100%;
          position: absolute;
          bottom: 0;
          @include grid();

          @include media('<=tablet') {
            width: 100%;
            height: 50%;
          }

          & .img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: bottom;
            z-index: 1;
          }

          & .decor {
            position: absolute;
          }
        }

        &:nth-of-type(1) {
          background-color: $grass;

          & .content {
            @include media('<=tablet') {
              gap: 1rem;
            }
          }

          & .imgWrap {
            left: 0;

            @include media('<=tablet') {
              left: 5%;
              bottom: 8%;
            }

            @include media('<=phone') {
              bottom: -2%;
            }

            @include media('<=375px') {
              bottom: 8%;
            }

            & .img {
              @include media('<=tablet') {
                width: 120%;
              }

              &_us {
                margin-left: -3rem;
                @include media('<=tablet') {
                  margin-left: unset;
                  width: 120%;
                }
              }
            }

            & .decor {
              top: -6.4rem;
              right: -2.5rem;

              @include media('<=tablet') {
                width: 8.865rem;
                height: 8.865rem;
                transform: rotate(70deg);
                top: unset;
                right: -0.5rem;
                bottom: 60%;
              }

              @include media('<=phone') {
                right: -2rem;
              }
            }
          }
        }

        &:nth-of-type(2) {
          background-color: $purple;

          & .content {
            @include media('<=tablet') {
              gap: 2rem;
            }
          }

          & .imgWrap {
            right: 0;

            @include media('<=tablet') {
              bottom: 10%;
            }

            @include media('<=phone') {
              bottom: 0;
              right: -3%;
            }

            & .img {
              @include media('<=tablet') {
                width: 110%;
              }

              @include media('<=phone') {
                width: 120%;
              }
            }

            & .decor {
              @include media('<=tablet') {
                width: 4rem;
                height: 4rem;
              }

              &:nth-child(1) {
                bottom: 8.29rem;
                left: 3rem;

                @include media('<=tablet') {
                }

                @include media('<=phone') {
                }
              }

              &:nth-child(3) {
                top: 5.94rem;
                right: 3.13rem;

                @include media('<=tablet') {
                  right: 1rem;
                  transform: rotate(14.68deg);
                }
              }
            }
          }
        }
      }
    }
  }
}
